
.experiencia{
    max-width: 1200px;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 auto;
    gap: 100px;
}

.experiencia .subtitulo{
    color: #e0e0e0;
}

.experiencia-texto{
    font-size: 1.5rem;
    line-height: 1.33;
    margin-bottom: 60px;
    max-width: 40ch;
    color: #525252;

} 


.experiencia-texto strong{
    color: black;
}

.empresa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background-color: #ececec;
    position: relative;
    margin-bottom: 20px;
    border-radius: 5px;
    
}

.empresa-texto{
}


/* .empresa-ano{ */
    /* position: absolute;  */
    /* top: 20px; */
    /* left: -80px;
    color: #525252;
    font-size: 0.875rem;
     
/* } */


.empresa-titulo{
    padding-bottom:20px;
}


.empresa-habilidades{
    margin-left: 40px; 

}
